{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
    {% bootstrap_css %}
     <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% endblock %}
</head>
<body id="bg" style="background-image: url('{% static "images/hoods.jpg"%}');">
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-1 col-lg-2">
                <div>
                    <button class="btn btn-primary btn-lg" id="site" data-toggle="modal" data-target=".bd-example-modal-xl" style="margin-top:40px;">
                        Add Neighborhood
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                {% if user.is_authenticated %}
                <!-- Modal goes here-->
                <div class="modal fade bd-example-modal-xl" id="ModalCenter" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title" id="exampleModalLongTitle" style="text-align:center;">New Neighborhood</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form|crispy }}
        
                                    <br>
                                    <input type="submit" class="btn btn-sm btn-info" value="Save"/>
                                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                <!--End modal-->
                
                <div class="row">

                    {% if hoods %}
                    {% for hood in hoods %}
                    <div class="col-md-4 col-sm-6">
                        <div class="card mb-4" style="min-height:300px; width:auto;">
                            
                            <div class="card-body" style="background:#DEDEDE; margin-bottom:20px; padding:15px;margin:15px; border-radius:10px;">
                                <img src="{{ hood.hood_pic.url }}" class="card-img-top" alt="{{ hood.name }}" style="height:20rem;background-size:cover; height:25rem; width:25rem;">
                                <h3 class="card-title">{{ hood.name }}-{{hood.location}} <span class="ml-4"></h3>
                                    <h3>{{hood.members.count}} Resident{{hood.members.count|pluralize}}</h3>
                                <p class="card-text">{{hood.description}}</p>
                                <br>
                                <br>
                                <p class="card-text"><span style="font-size:18px;font-family:sans serif;">Health Centers: </span>{{hood.health_centers}}</p>
                                <p class="card-text"><span style="font-size:18px;font-family:sans serif;">Health Department Contact:</span> {{hood.health_contact}}</p>
                                <p class="card-text"><span style="font-size:18px;font-family:sans serif;">Police Authorities: </span>{{hood.police_authorities}}</p>
                                <p class="card-text"><span style="font-size:18px;font-family:sans serif;">Police Service Line:</span> {{hood.police_contact}}</p>

                                {% if request.user.profile.neighbourhood == hood %}
                                <a href="" class="btn btn-outline-danger btn-sm">Leave Hood</a>
                                {% elif not request.user.profile.neighbourhood %}
                                <a href="{% url 'joinpage' %}" class="btn btn-primary btn-sm">Join Hood</a>
                                {% endif %}
                            </div>
                        </div>
                     </div>
                     {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>
{% endblock %}