<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  

</head>
<body>
<nav class="navbar navbar-inverse" style="height:100px;">
  <div class="container-fluid" style="margin-top:25px;">
    <div class="navbar-header">
      <a class="navbar-brand" style="color:white; margin-left:60px;font-weight:bold;" href="">HOOD</a>
    </div>
      <div class="col-sm-4 col-md-4 col-lg-4 ">
        {% if user.is_authenticated%}
          <ul style="margin-top:12px; list-style:none;">
            <li class="dropdown"><a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{%url 'indexpage' %}">Home</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
          {% else %}
          <div style="margin-top:15px; font-size:14px;">
            <span><a href="/accounts/register" style="color:white;margin-right:20px;margin-left:30px;">Register</a></span><span><a href="/accounts/login" style="color:white;">Login</a></span>
          </div>
        {% endif %}
        </div>
        <div style="float:right;margin-right:40px;">
          {% if user.is_authenticated%}
          <img class="rounded-circle nav-img" src="{{ user.profile.profile_pic.url }}" alt="image" height="50" width="50" style="border-radius:50%;">
          {% endif %}
        </div>


    </div>
</nav>
</body>
</html>